select {
  border: 1px solid #111;
  background: transparent;
  width: 70px;
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 14px;
line-height: 1.5;
color: #333;
background-color: #fff;
    
}
.first{
    border-top:none;
}




.chooseDay ul{
    display: flex;
    justify-content: space-around;
    list-style: outside none none;
    margin-top: 6px;
    padding-left:0px;
}


.chooseDay{
    font-size: 1.5em;
 
}

.navigation {
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    height: 50px;

}
/*.navDisplay{
    
}
.dropDisplay{}*/
.drop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    

}

.drop li {
    float: right;
}

 .drop a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 

.drop a:hover  {
    color: #4078c0;
}

.drop li{
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
   min-width: 60px;
    margin-left: -30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content p {
    max-width: 42px; 
    max-height: 42px;
    color: #333;
    padding-top: 3px;
    padding: 0px 0px 10px 0px;
    margin: auto;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-content p:hover {background-color: #f1f1f1}

.drop li:hover .dropdown-content {
    display: block;
}


.navigation a {
display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation p{
    padding: 0px;
    margin: 0px;
    display: block;
}
.navigation li {
    float: left;
}

.navigation a:hover {
    color: #4078c0;
}
.boxed-group{
    border-radius: 3px;
    position: relative;
	margin: auto;
	width: 100%;
}
.boxed-group-action {
    position: relative;
    z-index: 2;
    float: right;
    margin: 6px 10px 0px 0px;
}
.boxed-group > h3, .boxed-group .heading {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    border-color: #d8d8d8 #d8d8d8;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    display: block;
    /*font-size: 14px;*/
    line-height: 17px;
    margin: 0;
    padding: 9px 10px 10px;
    color: #666;
}
.boxed-group-inner {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
   /* font-size: 13px; */
    padding: 10px;
}

.backBlue{
    background-color: white;
    
}
.backRed{
    background-color:white;
    
}
.flex-contenta{
    padding: 5px;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    background: lightblue;
}
.displayChanges tr{
    border: 1px solid red;
    text-align: left;
    color: #8757ad;
    padding-bottom: 1px;
    padding-top: 1px;
     padding-left : 10px;
    /*#e88501*/
}
.displayChanges span{
    text-align: left;
    color: #e88501;
    /*#e88501*/
}
.displayChanges{
    /*border: 1px solid red;*/
    font-family: 'Source Code Pro', monospace;
    border-radius: 10px;
    margin: 5px;
    text-align: left;
    max-width:300px;
    word-wrap:break-word;
    /*font-size: 20px;*/




}

.saveBtn{
    padding-top: 5px;
    
}
.displayChanges td{
width: 20px;
}
.pageStyle{
    margin-left: 50px; 
    margin-right: 50px;
    text-align: center;
       
}
.boxed-group-section{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #d8d8d8;
    color: #666;
    
    padding: 10px;
    color: #4078c0;
    }

.btn{
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-color: #EEE;
    background-image: linear-gradient(#FCFCFC, #EEE);
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}
.btn:hover{
    text-decoration: none;
background-color: #ddd;
background-image: -webkit-linear-gradient(#eee, #ddd);
background-image: linear-gradient(#eee, #ddd);
border-color: #ccc
}
.btnClicked {
    text-decoration: none;
background-color: #ddd;
background-image: -webkit-linear-gradient(#eee, #ddd);
background-image: linear-gradient(#eee, #ddd);
border-color: #ccc
}
.edit-btn {
    font-size: 13px;
    padding-left: 2px;
    padding-right: 2px;
    color: #FFF;
    margin-left: 5px;
background-color: #60B044;
background-image: linear-gradient(#8ADD6D, #60B044);
border-color: #5CA941;
}
.edit-btn:hover{
    background-color: #569E3D;
    background-image: linear-gradient(#79D858, #569E3D);
    border-color: #4A993E;
}

.scrollableList{
    padding: 0px;
    

}
.scrollableList ul{
    list-style: outside none none;
    text-align: left;
    padding: 0px;
    margin:0px;
    /*width:300px;*/
        border: 1px solid red;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
    /*height: 200px; 
    overflow: auto;*/
}
.scrollableList li{
    color: #4078c0;
     font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #e5e5e5;
    display: block;
    font-size: 14px;
    padding: 6px 10px 6px 10px;
    position: relative;
}
.scrollableList a{
    color: lightblue;
     font-size: 14px;
    font-weight: bold;
    /*border-top: 1px solid #e5e5e5;
    display: block;*/
    
}
.scrollableList li:hover{
    color: black;   
}
.allClasses{
    /*overflow:scroll;*/
    width: auto;
    border: 1px solid black;
    
}
.allClasses span{
    width: auto;
    border: 1px solid black;
    
    
}
.allClasses ul{
    list-style: none;
    padding: 0px;
    border: 1px solid black;
    
    
}
.allClasses li{
    
        display: inline;
    
}
.allClasses a{
    display: inline-flex;
    /*border: 1px solid black;*/
    /*display: flex;*/  
    
}
.allClasses a:hover{
    
    border: 1px solid black;
    /*display: flex;*/  
}
.info{
	display: table;
	border-style: solid;
	border-color: #73AD21;
	border-radius: 5px;
	border-width: 2px;
	padding: 3px;
	background-color: rgba(135, 197, 49, 0.8); /*#87C531CC; changed, because didn't work in Chrome*/
	max-width: 590px;
	margin: auto;
	margin-top: 5px;
}
.message{
	display: table;
	border-style: solid;
	border-color: #17678D;
	border-radius: 5px;
	border-width: 2px;
	padding: 3px;
	background-color: rgba(94, 197, 219, 0.8);
	max-width: 590px;
	margin: auto;
	margin-top: 5px;
}
.msgLink{
	color: black;
	font-weight: bold;
}
.msgLink:visited{
	color: black;
}
.closeButton{
	width: 1%;
	display: table-cell;
	padding-right: 3px;
	cursor: pointer;
}
.className{
	display: none;
}
.substitution{
	display: inline;
	cursor: pointer;
}
.substitution:hover{
	font-weight: bold;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/*tooltips under text*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
	/*animation*/
	opacity: 0;
    transition: opacity 0.5s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
	opacity: 1;
}
/*display input with type number as normal (text) input*/
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}