

@media (max-width: 1001px){ /* 500px*/
    .item-size {
      width: 100%;
        font-size: 1em;
    /*  height: 54vw;*/
    }
    
}
@media (min-width: 1000px) { /* 1070px*/
    .item-size {
      width: 800px;
        font-size: 20px;
    /*  height: 28vw;*/
    }
   
}

